h1 {
    color: blue;
    text-align: center;
}
li {
    font-family: verdana;
    font-size: 18px;
}

button {
    background-color: grey;
    border: double;
    border-radius: 8px;
    color: white;
    padding: 3px 12px;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
    width: 80px;
}
input[type="checkbox"]{
    width:19px;
    height:19px;
}